<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fortravel.PackageMapper">
 	<select id="packageAllList" resultType="PackageThirdDTO">
 		select packageno,COMPANY,STARTDATE,LASTDATE,AIRLINE,startAIRPLANEID,lastAIRPLANEID,TERM,PACKAGENAME,PRICE,RESERVATIONAB,MINPERSONNEL,PRESENTRESERVATION,PERSONNEL,STAY,LINK 
 		from packagedb
 	</select>
    <select id="packageList" parameterType="string" resultType="PackageFirstDTO">
    	select packageno,packagename,price,image,term,loc from packagemain
    	where packagename = #{packagename}
    </select>
    
     <select id="countryAllList" parameterType="string" resultType="PackageFirstDTO">
    	select packageno,packagename,price,image,term,loc from packagemain
    	where loc = #{loc}
    </select>
  
</mapper>