<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fortravel.ReviewReplyMapper">
<insert id="replyWrite" parameterType="ReviewReplyDTO">
    insert into reviewreply ( num,content,userid,repRoot,repStep,repIndent,reviewNum)
    values ( reviewreply_seq.nextval, #{content},#{userid},reviewreply_seq.currval,0,0,#{reviewNum})
   </insert>

	 <insert id="replyInsert" parameterType="ReviewReplyDTO">
    insert into reviewreply ( num,content,userid,repRoot,repStep,repIndent,reviewNum)
    values (reviewreply_seq.nextval, #{content},#{userid},#{repRoot},#{repStep}+1,#{repIndent}+1,#{reviewNum})
   </insert>

   <update id="replyUpdate" parameterType="ReviewReplyDTO">
<![CDATA[
   update reviewreply
   set repStep = repStep+1 
   where repRoot = #{repRoot} and reviewNum = #{reviewNum} and repStep > #{repStep}
   ]]>
   </update>

 
<select id="replyList" parameterType="int" resultType="ReviewReplyDTO">
select num,userid, content
     ,writeday
  ,repRoot,repStep,repIndent
     from reviewreply
     where reviewNum = #{reviewNum}
     order by repRoot desc ,repStep asc
</select>
</mapper>